* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 20px 100px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    height: auto;
    align-items: center;
}

.logo img {
    max-width: 80px;
    height: auto;
    display: block;
}

.logo-text {
    font-size: 1.5rem;
    font-weight: bold;
}

.hamburger-menu {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
}

.hamburger-menu div {
    width: 25px;
    height: 3px;
    background-color: #FF9900;
}

nav {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    font-size: 20px;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar-links li a {
    text-decoration: none;
    color: #A7A7A7;
    font-weight: bold;
}

.navbar-links li a:hover {
    color: #FF9900;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 10px;
}

.navbar-links li a.active {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 10px;
    color: #ff9900;
    font-weight: bold;
}

.order-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cart-icon {
    font-size: 20px;
    color: #ff9900;
    background-color: white;
    padding: 8px;
    border-radius: 50%;
}

.order-btn {
    background-color: #ff9900;
    color: white;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
}

.order-btn:hover {
    background-color: #fff;
    border: 1.5px solid #ff9900;
    color: #FF9900;
    cursor: pointer;
}

/* header */


/* Footer */
footer {
    background-color: #FF9900;
    color: white;
    padding: 4rem 0rem;
    justify-content: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.footer-content a {
    color: #fff;
}

.footer-info {
    font-size: 20px;
}

.footer-order {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.footer-order .p-a a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}

.footer-social {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}

.icon-social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.icon-social a,
.icon-social p {
    text-decoration: none;
    align-items: center;
}

.copyright {
    display: flex;
    justify-content: center;
    background-color: #FF9900;
    color: #fff;
    font-size: 20px;
    padding: 2rem;
}
/* footer */




.hero {
    text-align: center;
    padding: 0.8rem;
    background: #ff9800;
    color: #fff;
}

/* Content Section */
.content {
    padding: 2rem;
}


.map-container {
    display: flex;
    gap: 3rem;
    margin: 2rem 4rem;
    align-items: center;
   
}

.map {
    display: flex;
    width: 300% !important;
}



.description {
    font-size: 24px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .btn-d {
        margin-top: 1rem;
        border-radius: 8px;
        font-weight: bold;
        padding: 1rem;
        justify-content: center;
        background-color: #ff9800;
        display: flex;
        cursor: pointer;
        text-decoration: none;
        color: #fff
    }

    .btn-d:hover {
        background-color: #fff;
        border: 2px solid #ff9800;
        color: #ff9800; 
    }


}

.testimoni {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 24px;
    align-items: center;

    .img img {
        width: 130px;
        height: auto;
        object-fit:cover;
    }

    .img {
        display: flex;
        margin-bottom: 4rem;
        
    }
}




.img-5 {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin: 6rem 4rem;   

    img {
        transition: transform 0.4s ease, box-shadow 0.3s ease;
        width: 365px;
    }
    
    img:hover {
        transform: scale(1.05);
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    }

}




/* ============= RESPONSIVE AREA =============== */
/* ================  WARNING !!! ================ */
/* ============= RESPONSIVE AREA =============== */


@media ( max-width: 1024px ) {

    .footer-social {
        
        margin-top: 2rem;
    }
    
    .description h2 {
        text-align: center;
        font-size: 35px;
    }

    .img-5 {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-content: center;
        

        .img-5 img {
            width: 24%;
        }
    
    }


}

@media ( max-width: 768px ) {

  .responsive {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap :15rem;
}

.logo img {
    max-width: 60px;
}

.map-container {
    display: flex;
    flex-direction: column;
    margin: 2rem 1rem ;
   

    .map {
        max-width: 330px;
        max-height: 600px;
    }

    .description {
          display: flex;
          justify-content: center;

          h2 {
            font-size: 35px;
            justify-content: center;
    
        }

        p {
            font-size: 22px;
            justify-content: center;

        }
          
    }

}


.img-5 {
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    margin: 4rem 0;

    img {
        width: 320px;
    }
}


.testimoni {

    margin: 4rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        font-size: 20px;
    }

    .img {
        display: flex;
        
        img {
            max-width: 90px;
        }
    }
}


.navbar-links {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: white;
    position: absolute;
    top: 60px;
    left: 0;
    padding: 10px 20px;
}

.navbar-links.active {
  display: flex;
}

.hamburger-menu {
  display: flex;
}

.order-container {
  display: none;
}

footer {
  padding: 1.8rem 3rem;
  margin-top: -4rem;
}

.footer-content {
  gap: 2rem;
  font-size: 15px;
}

.footer-info {
  text-align: center;
}

.footer-order {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.copyright {
  padding: 1rem;
}

.footer-social {
  margin-top: -1rem;
}

.hero {
    font-size: 15px;
    padding: 1rem;
    
}


}